<!DOCTYPE html>
{% load static %}

<html>

    <head>

        <meta charset="utf-8">
        <title>
            {% block title %}
            {% endblock title %}
        </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/sped.css' %}">


    </head>
    
    <body>

        <div class="wrapper">


            <nav class="navbar navbar-default">
                <div class="container">
                    <div class=navbar-header">
                        <a class="navbar-brand" href="#">SPED System</a>
                    </div>

                    <div class="navbar-left">
                        <ul class="nav navbar-nav">

                            <li>
                                <a class="nav-link" href="#">Admin</a>
                            </li>

                            <!-- Dropdown General -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardropGeneral" data-toggle="dropdown" role="button">
                                    General <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'uf_list' %}">Siglas UF</a></li>
                                    <li><a href="#">Cidades IBGE</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Outras Cidades IBGE</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown  Contábil-->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardropContabil" data-toggle="dropdown" role="button">
                                    Contábil <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Contador</a></li>
                                    <li><a href="#">Plano de Contas</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Plano de Contas do Governo</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown Fiscal -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardropFiscal" data-toggle="dropdown" role="button">
                                    Fiscal <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Notas Fiscais de Entrada</a></li>
                                    <li><a href="#">Notas Fiscais de Saídas</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Natureza de Operações</a></li>
                                    <li><a href="#">Observações Fiscais</a></li>
                                </ul>
                            </li>

                            <!-- Dropdown Contribuições -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardropContribuicoes" data-toggle="dropdown" role="button">
                                    Contribuições <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tabela PIS</a></li>
                                    <li><a href="#">Tabela COFINS</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Observações Fiscais</a></li>
                                </ul>
                            </li>

                        </ul>

                    </div>

                    <div class="navbar-right">
                        <ul class="nav navbar-nav">
                           <!-- Dropdown Usuário -->
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbardropUsuario" data-toggle="dropdown" role="button">
                                    Usuário <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Alterar suas informações</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                          </ul>
                    </div>

                </div>
            </nav>

            <div class="container">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block panel-title %}
                            {% endblock panel-title %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            {% block search %}
                            {% endblock search %}
                        </div>

                        <div class="col-md-12">
                            {% block content %}
                            {% endblock content %}

                        </div>
                    </div>

                </div>
            </div>

           <div class="push"></div>

        </div>


        <footer class="container-fluid text-center">
                SPED PACK System - <span class="badge badge-secondary">Version 1.0</span>
        </footer>



        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- JQuery Mask -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>


     </body>
</html>