{% extends 'base.html' %}


{% block panel-title %}
    Siglas UF
{% endblock panel-title %}

{% block search %}

<form method="get" class="form">
    <div class="input-group">
        <input  class="form-control" type="text" name="UFsearch" placeholder="search by Código UF...">
        <span class="input-group-btn"><button class="btn btn-primary">Search</button></span>
    </div>
</form>

{% endblock search %}

{% block content %}


<table class="table table-striped">

    <thead>
        <tr>

            <th>
                UF
            </th>

            <th>
                Codigo IBGE
            </th>

            <th>
                Vigiência Início
            </th>

            <th>
                Vigênncia Fim
            </th>

            <th>
                Última Atualização
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>

    <tbody>
        {% for uf in ufs %}
            <tr>
                <td>
                    {{ uf.sigla_UF_IBGE }}
                </td>
                <td>
                    {{ uf.codigo_UF_IBGE }}
                </td>
                <td>
                    {{ uf.data_inicio_validade }}
                </td>
                <td>
                    {{ uf.data_fim_validade }}
                </td>
                <td>
                    {{ uf.data_ultima_atualizacao }}
                </td>
                 <td>
                     <a href="{% url 'uf_edit' uf.id %}" >
                         <span class="glyphicon glyphicon-pencil"></span>
                     </a>
                     <a href="{% url 'uf_delete' uf.id %}">
                         <span class="glyphicon glyphicon-remove"></span>
                     </a>
                 </td>

            </tr>
        {% endfor %}
    </tbody>

</table>

<a href="{% url 'uf_create' %}" class="btn btn-primary">
        Add New Product
</a>

{% endblock content %}
